<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hair Salon</title>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css">
    <script src="/Content/js/jquery-1.12.0.js" type="text/javascript"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/scripts.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>@Model["stylist"].GetName() Client List</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3>All Clients</h3>
          @if (@Model["allClients"].Count == 0)
          {
            <p>There are currently no clients!</p>
          
          }
          <ul>
            @foreach (var client in @Model["stylistsClients"])
            {
              <li>@client.GetName()</li>
            }
          </ul>
        </div>
        <div class="col-sm-6">
          <h3>Add New Clients</h3>
          <a href="/clients">Client Form</a>
        </div>
      </div>
    </div>
  </body>
</html>
